*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --bg-color: #C9E3AC;
    --font-color: #EA9010;
    --bg-game-color:#37371F;
    --btn-color:white;
}

body{
    background-color: var(--bg-color);
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
}

#container{
    width: 100%;
    margin-top: 60px;
}

#game{
    border-radius: 20px;
    background-color: var(--bg-game-color);
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    height: 380px;
}

.div-properties{
    padding: 15px;
}

.game-button{
    background-color: var(--btn-color);
    width: 100px;
    height: 100px;
    font-size:70px;
    text-align: center;
    line-height: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.game-button:active{
    width: 80px;
    height: 80px;
    font-size:50px;
    transition: 0.1s;
}

.end-game-button{
    background-color: var(--btn-color);
    width: 100px;
    height: 100px;
    font-size:70px;
    text-align: center;
    line-height: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.end-game-button:active{
    width: 80px;
    height: 80px;
    font-size:50px;
    transition: 0.1s;
}